$A4_WIDTH_PX: 680px;

$font: 'Lato';
$titleFont: 'Oswald';
$bodyFont: 'Source Sans Pro';
$fontColour: black;

$sidebarWidth: .27 * $A4_WIDTH_PX;

$headTopGap: 10px; //35px;
$headBodyGap: 30px; //40px;
$rightIndent: 20px;  // Indent of the right (main) section
$leftLineWidth: 2px;  // Width of the left "timeline" of the main section
$paddingLeft: $rightIndent - $leftLineWidth;


// @font-face {
//   font-family: 'Source Sans Pro';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://api.fontsource.org/v1/fonts/source-sans-pro/latin-400-normal.ttf) format('woff2');
// }

// @font-face {
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://api.fontsource.org/v1/fonts/oswald/latin-400-normal.ttf) format('woff2');
// }

// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(https://api.fontsource.org/v1/fonts/lato/latin-400-normal.ttf) format('woff2');
// }


* {
  // font-family: $font;
  font-family: $bodyFont;
  font-size: 14px;
}

body {
  padding: 0 80px;
  margin: 0;
  height: max-content;
}

.head {
  $divider: "•";

  margin-bottom: $headBodyGap;

  // Center
  width: 100%;
  display: flex;
  display: -webkit-box; /* wkhtmltopdf uses this one */
  justify-content: center;
  -webkit-box-pack: center; /* wkhtmltopdf uses this one */
  // margin-right: auto;

  ul {
    margin: 0;
    list-style: none;  // No bullets
    padding-left: 0;  // No indent
    border: none;  // No left line (not mainContent)

    & li:first-of-type {
      &:before {
        margin-left: 0;
        margin-right: 0;
        content: none;
      }
    }

    & li {
      float: left;
    }
    & li:before {
      margin-left: 20px;
      margin-right: 20px;
      content: $divider;
    }
  }
}

.profile {
  margin-bottom: $headBodyGap;

  // Center
  width: 100%;
  display: block;

  p {
    border-left: none;
    padding: 0;
    text-align: left;
  }
}

article {
  margin-bottom: $headBodyGap;
  overflow: hidden;
}

.left {
  * {
    display: block;
    padding: 0;
    border-left: none;
  }

  float: left;
  width: $sidebarWidth;
  //height: 100%;
  margin-right: 20px;
  padding: 0 10px;

  text-align: center;

  h2 {
    &:first-of-type {
      margin-top: 0;
    }

    // width: 100%;
    // margin-left: -1.5px;
    // letter-spacing: 0;
    // display: -webkit-inline-flex;
    // text-align: left;
    // -webkit-text-align: left;

    &#contact { margin-left: -3px }
    &#academic-interests { margin-left: -13px }
    &#other-interests { margin-left: -13px }
    &#languages { margin-left: -8px }
    &#links { margin-left: -2px }

    // background: #24282d;
    padding: 0;
  }

  li {
    padding-bottom: 2px;
  }

  p {
    padding-left: initial;
  }
  // Don't show the circle on the left
  p::before {
    display: none;
  }
}

.right {
  float: right;
  width: $A4_WIDTH_PX - $sidebarWidth;
  width: -webkit-calc(70% - 500px);
}

// Format Lists
ul {
  // Smaller bullets
  list-style: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='123.59770114942413 197.85057471264219 14.000000000000028 14' width='5' height='5'%3E%3Cdefs%3E%3Cpath d='M134.6 203.85C134.6 206.61 132.36 208.85 129.6 208.85C126.84 208.85 124.6 206.61 124.6 203.85C124.6 201.09 126.84 198.85 129.6 198.85C132.36 198.85 134.6 201.09 134.6 203.85Z' id='c1hU3AEwCg'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23c1hU3AEwCg' opacity='1' fill='%23000000' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  li {
    padding-left: 5px;
  }
}

// Format links
a {
  color: $fontColour;
}

// Format title font style
@mixin _title {
  font-family: $titleFont;
  word-spacing: .2em;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin _mainContent {
  margin: 0;

  // For proper positioning and sizing
  //display: flex;
  //display: -webkit-box;

  border-left: solid 2px black;
  padding-left: $paddingLeft;
  // Border inside
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

@mixin _circle {
  // For proper positioning next to the circle (don't count circle as part of the content)
  display: flex;
  display: -webkit-box;

  &:before{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='137.62607204116637 141.1252144082333 54.490566037735874 54.49056603773582' width='38.49' height='38.49'%3E%3Cdefs%3E%3Cpath d='M184.12 168.37C184.12 178.99 175.49 187.62 164.87 187.62C154.25 187.62 145.63 178.99 145.63 168.37C145.63 157.75 154.25 149.13 164.87 149.13C175.49 149.13 184.12 157.75 184.12 168.37Z' id='bocXgSV8U'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23bocXgSV8U' opacity='1' fill='%23c71df7' fill-opacity='0'%3E%3C/use%3E%3Cg%3E%3Cuse xlink:href='%23bocXgSV8U' opacity='1' fill-opacity='0' stroke='%23000000' stroke-width='16' stroke-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-color: white;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 0 0 4px 4px;

    width: 7px;
    height: 7px;
    content: "";

    display: block;
    position: relative;
    margin-right: -7px;  // Don't indent content because of circle
    top: .45em;
    left: -($rightIndent - $leftLineWidth + 4.4px);
  }
}
// When the item is the first and not a continuation on the left line
@mixin _circleFirst {
  @include _circle;

  &:before{
    height: 25px;
    top: -11.5px;
  }
}

// Name
h1 {
  @include _title;
  letter-spacing: 1px;

  padding: $headTopGap 0 0 0;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

// First instances of p and h3 after a section title (h2)
h2 + p {
  @include _circleFirst;
  padding-top: 0;
}
h2 + h3 {
  @include _circleFirst;
  padding-top: 0;
  height: 18px;  // Ensure height doesn't get changed by circle
}

// Section title
h2 {
  @include _title;
  font-size: 16px;
  letter-spacing: 0.5px;

  @include _mainContent;
  // No left line
  border: none;
  padding-left: $rightIndent;

  margin-top: $headBodyGap; // 40px
  margin-bottom: 5px;
  line-height: 150%;

  &:first-of-type {
    margin-top: 0;
  }
}

// Project title
h3 {
  @include _mainContent;
  @include _circle;
  padding-top: 20px;
  // font-size: 16px;

  span.status {
    color: gray;
    font-weight: 400;
    padding-left: 5px;

    &::before {content: "(";}
    &::after {content: ")";}
  }
}

// Additional info
h4 {
  @include _mainContent;

  color: gray;
  font-weight: 400;
}

p {
  @include _mainContent;
  padding-top: 5px;
}

ul {
  @include _mainContent;
  padding-top: 5px;
  padding-left: $paddingLeft + 30px;
}
